body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
    .logo{
        display: flex;
        align-items: center;
    }
    .logo img{
        height: 60px;
        margin-right: 20px;
        margin-left: 20px;
    }
    nav a{
        font-weight: bold;
        padding-right: 10px;
        text-decoration: none;
        color: black
    }
    nav a:hover{
        color: red
    }